/* HEADER SECTION START */

#nav-container {
  display: flex;
  height: 30px;
  padding: 15px 0 15px 0;
}

#left-nav-item {
  display: flex;
  align-items: center;
  width: 15vw;
  justify-content: space-around;
}

#burger-box {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  align-items: flex-start;
}

.burger-stripe {
  border: 1px solid gray;
  height: 1px;
  margin: 3px 0 0 0;
  width: 20px;
  background: grey;
}

#right-nav-item {
  align-items: center;
  display: flex;
  font-size: 17px;
  justify-content: flex-end;
  margin-right: 2em;
  width: 15vw;
  color: #606060;
}

#search-box {
  display: flex;
  width: 70vw;
  justify-content: center;
}

#search-button {
  font-size: 1em;
  width: 70px;
}

.logo {
  font-size: 25px;
  margin-right: 15px;
}

.logo span {
  font-weight: bolder;
  letter-spacing: -1px;
}

#right-nav-item i {
  margin: 0 1em;
}

#search-input {
  width: 500px;
  font-size: 1em;
  padding-left: 10px;
}

.fa-youtube-play {
  color: red;
}

#user-avator {
  width: 35px;
  border-radius: 180%;
}

#video {
  position: relative;
}

#video i {
  font-size: 20px;
}

#video span {
  position: absolute;
  left: 23px;
  color: white;
  font-size: 15px;
  top: 2px;
  font-weight: 800;
}

/* HEADER SECTION END */

/* MAIN SECTION CONTAINER */

section#main {
  display: flex;
  background: #f1f1f1;
  margin: 0 2em;
}

header#sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.fa-toggle-on {
  color: #167ac6;
}

/* MAIN SECTION CONTAINER END */

/* VIDEO SECTION START */

main {
  width: 70vw;
  display: flex;
  margin: 1em;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 750px;
}
main section {
  display: flex;
  background: white;
  width: 100%;
}

#video-title {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#published-by {
  display: flex;
}

#subscribe-section {
  display: flex;
  border: 1px solid grey;
}

#subscribe-button .fa-youtube-play {
  color: white;
}

#video-title {
  font-size: 20px;
}

#subscribe-button {
  background: red;
  color: white;
}

#video-stats {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

#social-icons {
  display: flex;
  justify-content: space-between;
}

#social-section-left,
#social-section-right {
  display: flex;
  justify-content: space-around;
}

#video-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
}

#views {
  align-self: flex-end;
}

/* VIDEO SECTION END */

/* SIDEBAR SECTION START */

aside {
  background: white;
  display: flex;
  flex-direction: column;
  margin: 1em;
  width: 30vw;
}

section.video-preview-content {
  display: flex;
  margin: 0.8em 1em;
}

#show-more-button {
  font-size: 12px;
  margin-bottom: 1em;
}

div.details {
  margin: 0 0 0 1em;
}

h3.video-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}

p.preview-user,
span.preview-views {
  font-size: 11px;
}

span.preview-views::after {
  content: "views";
}

/* SIDEBAR SECTION END */

/* FOOTER SECTION START */

footer {
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  font-family: 'YouTube Noto', Roboto, arial, sans-serif;
  background-color: #fff;
}

.footer-top-wrapper {
  display: flex;
  background-color:white;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 15px;
  border-bottom:1px solid rgb(226,226,226);

}

.footer-bottom-wrapper a {
  text-decoration: none;
}

#footer-logo {
  display: flex;
  margin: 0px 15px 0 4px;
}

.top-item {
  padding: 5px 10px;
  border: 1px solid rgb(211, 211,211);
  width: auto;
  margin-right: 15px;
  color: #333;
  font-size: 11px;
  background-color: #F8F8F8;
  box-shadow: rgba(0,0,0,0.046875) 0px 1px 0px;
  border-radius: 2px;
}

.logo,
.top-item:hover {
  cursor: pointer;
}

.top-item .fa {
  opacity: 0.8;
  font-size: 1.5em;
}

.fa-caret-down {
  font-size: 11px;
}

.footer-bottom-wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px 0px 15px 8px;
  margin-bottom: 8px;
}

#bottom-top {
  display: flex;
  margin-bottom: 8px;
  color: #000;
}

#bottom-top>a {
  color: #333;
  font-size: 13px;
  font-weight: bolder;
  margin-right: 18px;
}

.bottom-bottom {
  background: cornflowerblue;
}

#bottom-bottom>a {
  color: #666;
  font-size: 11px;
  font-weight: 500;
  margin-right: 18px;
}

#bottom-bottom>#bottom-last {
  margin-left: 10px;
}

.language {
  display: flex;
}

.fa-youtube-play {
  color: red;
}

.fa {
  margin: 0 5px;
}

#footer-logo span {
  font-weight: bolder;
  letter-spacing: -3px;
  font-size: 1.6em;
}

/* FOOTER SECTION END */
/* GENERAL CSS START */

.hidden-item {
  display: none;
}

.opacity6 {
  opacity: 0.6;
}

.light-text {
  font-size: 15px;
  color: #7c7c7c;
}

.thin-separator {
  margin: 0.3em 1em;
  border: 0.8px solid #7c7c7c;
}

.align-center {
  text-align: center;
}

/* GENERAL CSS END */

body {
  font: "normal  'YouTube Noto', Roboto, arial, sans-serif";
  background: #f1f1f1;
  font-family: "'YouTube Noto', Roboto, arial, sans-serif";
}

.background-red {
  background: red;
}

.color-white {
  color: white;
}

.color-red {
  color: red;
}
