/* HEADER SECTION START */

nav#nav-container {
  display: flex;
  height: 30px;
  padding: 15px 0 15px 0;
  background: #fff;
}

#left-nav-item {
  display: flex;
  align-items: center;
  width: 15vw;
  justify-content: space-around;
}

#burger-box {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  align-items: flex-start;
}

.burger-stripe {
  border: 1px solid gray;
  height: 1px;
  margin: 3px 0 0 0;
  width: 20px;
  background: grey;
}

#right-nav-item {
  align-items: center;
  display: flex;
  font-size: 17px;
  justify-content: flex-end;
  margin-right: 2em;
  width: 15vw;
  color: #606060;
}

#search-box {
  display: flex;
  width: 70vw;
  justify-content: center;
}

#search-button {
  font-size: 1em;
  width: 70px;
}

#logo {
  font-size: 25px;
}

#logo span {
  font-weight: bolder;
  letter-spacing: -1px;
}

#right-nav-item i {
  margin: 0 1em;
}

#search-input {
  width: 500px;
  font-size: 1em;
  padding-left: 10px;
}

.fa-youtube-play {
  color: red;
}

#user-avator {
  width: 35px;
  border-radius: 180%;
}

#video {
  position: relative;
}

#video i {
  font-size: 20px;
}

#video span {
  position: absolute;
  left: 23px;
  color: white;
  font-size: 15px;
  top: 2px;
  font-weight: 800;
}

/* HEADER SECTION END */

/* MAIN SECTION CONTAINER */

section#main {
  display: flex;
  background: #f1f1f1;
  margin: 0;
}

header#sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.fa-toggle-on {
  color: #167ac6;
}

/* MAIN SECTION CONTAINER END */

/* VIDEO SECTION START */

main {
  width: 70vw;
  display: flex;
  margin: 1em;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 900px;
}

main section {
  display: flex;
  background: white;
  width: 100%;
}

#video-title {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  padding: 10 10 0 10;
}

#published-by {
  display: flex;
}

#subscribe-section {
  display: flex;
  border: 1px solid grey;
  margin: 1em 0;
}

#subscribe-button .fa-youtube-play {
  color: white;
}

#subscribe-button {
  background: red;
  color: white;
  padding: 2px 2px;
}

.total-subscription {
  margin: 3px;
}

#video-stats {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

#social-icons {
  display: flex;
  justify-content: space-between;
}

#social-section-left,
#social-section-right {
  display: flex;
  justify-content: space-between;
  padding: 0 0 10px 0;
  font-size: 11px;
}

#publisher-name {
  margin: 0 0 0 1em;
}

#publisher-image {
  width: 70px;
  height: 70px;
}

#video-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
}

#views {
  align-self: flex-end;
  margin: 0 1em;
  font-size: 19px;
}

#video-name {
  margin: 0 0 1em;
}

/* VIDEO SECTION END */

/* SIDEBAR SECTION START */

aside {
  background: white;
  display: flex;
  flex-direction: column;
  margin: 1em;
  width: 30vw;
}

section.video-preview-content {
  display: flex;
  margin: 0.8em 1em;
}

#show-more-button {
  font-size: 12px;
  margin-bottom: 1em;
}

div.details {
  margin: 0 0 0 1em;
}

h3.video-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}

p.preview-user,
span.preview-views {
  font-size: 11px;
}

span.preview-views::after {
  content: "views";
}

/* SIDEBAR SECTION END */

/* FOOTER SECTION START */

footer {
  background-color: rgb(204, 255, 102);
  height: 65px;
}

/* FOOTER SECTION END */

/* GENERAL CSS START */

.hidden-item {
  display: none;
}

.opacity6 {
  opacity: 0.6;
}

.light-text {
  font-size: 15px;
  color: #7c7c7c;
}

.thin-separator {
  margin: 0.3em 1em;
  border: 0.8px solid #7c7c7c;
}

.align-center {
  text-align: center;
}

/* GENERAL CSS END */

body {
  font: normal "YouTube Noto", Roboto, arial, sans-serif;
  background: #f1f1f1;
  font-family: "YouTube Noto", Roboto, arial, sans-serif;
}

.background-red {
  background: red;
}

.color-white {
  color: white;
}

.color-red {
  color: red;
}

button.icon-button {
  border: none;
  margin: 0 1em 0 0;
  background: white;
  color: #818282;
}
